.movie-poster {
  width: 100px;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  @include media-breakpoint-up(sm) {
    margin-right: $margin-lg;
    width: 190px;
  }
}

.movie-title {
  margin-bottom: 0;
}
.movie-year {
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.movie-plot {
  font-size: .8rem;
  line-height: 18px;
  margin-bottom: 18px;
}
.movie-ratings {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  clear: both;
  @include media-breakpoint-up(sm) {
    clear: none;
  }
}

.movie-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.movie-rating-label {
  font-size: .9rem;
  font-weight: bold;
}

.movie-added {
  font-size: .8rem;
  display: flex;
  align-items: center;
}

.movie-buttons {
  display: flex;
  justify-content: space-between;
}

.bd-highlight {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
}

.p-2 {
  padding: .5rem!important;
}