@import "node_modules/bootstrap/scss/functions";
@import "variable.scss";
@import "node_modules/bootstrap/scss/mixins";

@import 'node_modules/bootstrap/scss/bootstrap';

@import './shared/movieItem/style.scss';
@import './shared/movieList/style.scss';
@import './search/style.scss';

.App {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

#logo {
  width: 66px;
  height: 66px;
  background: #eee;
}

#main-header {
  padding-top: 15px;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.nav {
  padding: 15px 0;
}
.nav li a {
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  color: #333;
  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.nav .active {
  border-bottom: 4px solid #75BACB;
}